@media (min-width : 768px){
  .chart{
    display: flex;
    flex-direction: row;
  }
  .sidebar, .chart-display{
    flex : 1
  }
  .chart-section{
    min-height: 50vh;
  }
}

@media (max-width : 767px){
  .chart{
    display: flex;
    flex-direction: column;
  }
  
  .chart-top-section {
    justify-content: center;
  }
  
  .slice-controls {
    flex-direction: column;
    align-items: stretch;
  }
  
  .select-input {
    width: 100%;
  }
  
  .btn-group {
    flex-direction: column;
  }
  
  .toggle-buttons-container {
    justify-content: center;
  }
}